body {
    font-family: 'Montserrat', sans-serif !important;
    margin: 0;
    height: 100%;
    background-color: #FF3CAC;
    background-image: linear-gradient(30deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  }

  img {
      width: 170px;

  }

  .container-fluid {
      padding: 2% 15% 15% !important;
  }

  .bi {
      padding-right: 10px;
  }

  .bi-wallet2 {
      padding-right: 5px;
  }

  .bi-gear-fill {
      padding-right: 0;
  }
  
  .btn {
    border: none !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 5px;
    height: 40px;
    width: 100px;
    font-size: 12px !important;
    color: #ffff !important;
  }


  .start-btn {
    height: 70px;
    background-color: transparent ;
    border: none;
    margin-left: 30px;
    margin-right: 30px;
    color: #ffffff !important;
    outline: 0 !important;
  }

  .reset-btn {
    height: 70px;
    background-color: transparent ;
    border: none;
    margin-right: 10px;
    margin-top: 6px;
    color: #ffffff !important;
    outline: 0 !important;
  }

  .break-btn {
    height: 70px;
    background-color: transparent ;
    border: none;
    margin-left: 10px;
    margin-top: 6px;
    color: #ffffff !important;
    outline: 0 !important;

  }

  .carousel-item {
      text-align: center;
      background-color: transparent;
  }

  #app {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .base-timer {
    position: relative;
    width: 200px;
    height: 200px;
    
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
    
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: #ede9f0;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: #fabf1d;
  }
  
  .base-timer__path-remaining.orange {
    color: rgb(91, 178, 250);
  }
  
  .base-timer__path-remaining.red {
    color: rgb(9, 190, 78);
  }
  
  .base-timer__label {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #ffffff !important;
  }

  @media (max-width: 768px) {
    #app {
        left: 23%;
        right: 17%;
      }

    .base-timer {
        width: 200px;
    }
    .nav{
        padding-left: 5% !important ;
        padding-right: 0px;
    }
}